@import url("variables.css");
html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: var(--light-bg);
}
h1{
  background-color: var(--secondary);
  background-image: url("https://wallpapercave.com/wp/wp9236274.jpg");
  filter: grayscale(.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  font-size: 12rem;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 1px 2px var(--third-color);
  z-index: 1; /*makes sure text shows first*/
}
.card {
  background-color: var(--secondary);
  border-radius: 7px;
  height: 50%;
  width: 30%;
  margin: 10px;
  padding: 5;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  width: 100vw;
  margin: 1rem auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
h2{
  color:black;
  font-weight: 600;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  color: var(--third-color);
}
.image{
  margin: 15px;
  border-radius: 5px;
}