@import url("variables.css");
html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 1100px) {
  .container {
      flex-direction: row;
  }
  .card {
      width: 30%
  }
  .card-header {
      font-size: 30%;
  }
}
@media screen and (max-width: 800px) {
  .container {
      flex-direction: row;
  }
  .card {
      width: 40%
  }
  .card-header {
      font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  .container {
      flex-direction: row;
  }
  .card{
      width: 70%
  }
  .card-header {
      font-size: 60%;
  }
}
@media screen and (max-width: 400px) {
  .contianer {
      flex-direction: column;
  }
  .card {
      width: 80%
  }
  .card-header {
      font-size: 30%;
  }
}
.dark{
  --primary:var(--black);
  --secondary:var(--blue-black);
  --third: var(--grey);
  --fifth: var(--light-blue);
}
body{
  background-color: var(--primary);
}
h1{
  background-image: url("https://th.bing.com/th/id/OIP.QFCU1SgvDXKK2Kehg_SK0AAAAA?rs=1&pid=ImgDetMain");
  filter: grayscale(.7);
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  font-size: 12rem;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 3px 2px var(--third);
}
.card {
  background-color: var(--secondary);
  border-radius: 7px;
  height: 450px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.container {
  display: flex;
  width: 100vw;
  margin: 1rem auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.title{
  color: var(--third);
  font-weight: 600;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}
.relartist{
  color: var(--fifth);
  font-size: 1.5rem;
  margin: 0.1;
  text-align: center;

}
.image{
  margin: 20px;
  margin-top: 3px;
  border-radius: 7px;
  border: 4px solid var(--hightlight);
  text-align: center;
}
.genre{
  margin: 5px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--third);
}
.price{
  margin: 1;
  font-size: 2rem;
  color: var(--third);
  text-align: center;
  margin-bottom: 3px;
}
button{
  background: none;
  box-sizing: none;
  outline: none;
  background-color: var(--highlight);
  font-size: 2rem;
  border-color: var(--highlight);
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
}
button:active{
  box-shadow: none;
  transform: none;
}
.buttons{
  background-color: var(--secondary);
  padding: 1;
  align-items: center;
}