:root{
    --white:#fffcf8;
    --grey:#a7a8ac;
    --blue-black:#293340;
    --dark-grey: #585755;
    --darker-grey: #363636;
    --light-blue: #657383;
    --black:#201d1b;
    --white-d:#f3f8fc;
/*primaries*/
    --primary: var(--white);
    --secondary: var(--grey);
    --third: var(--blue-black);
    --fourth:var(--dark-grey);
    --fifth:var(--darker-grey);
    --highlight: var(--light-blue);
}