:root{
    --light-bg:#fffcf8;
    --secondary:#a7a8ac;
    --third-color:#293340;
    --fourth-color: #585755;
    --fifth-color: #363636;
    --add-color: #657383;
    --dark-bg:#201d1b;
    --dsecondary:#f3f8fc;
    --dthird-color:#a7a8ac;
    --dfourth-color: #585755;
    --dfifth-color: #363636;
    --dadd-color: #657383;
}